# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ideaworkspaces-2020\mp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
